<h1>Schools#show</h1>
<%= link_to("Add School", new_school_path(@school)) %>

<ul>
  <% @school.students.each do |student| %>
    <li>
      <%= Student.all %>
      - <%= link_to("edit", edit_school_path(@school, student)) %>
        <%= link_to("delete", school_path(@school, student), method: :delete, data: {confirm: "Delete?"}) %>
    </li>
  <% end %>
</ul>
